.Back{
    display: grid;
    height: 1200px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    background-color:#8d90bb;
    padding: 50px; 
}
h1{
    color:rgb(31, 75, 31);
    text-align: center;
    font-family: cursive ;
}
body{
    margin-top: 20px;
    background: cover;
}
.Back> div {
    background-color: #B3D89C;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
  }
img{
    height:250px;
    width: 220px;
}
button{
    border-radius: 12px;
    background-color: #D0EFB1;
    color: rgb(25, 83, 25);
    font-size: 20px;
}