

.MovieContainer{
    display:flex; 
    flex-wrap:wrap;
    justify-content:space-evenly;
    
}

.movieComp{
    background-color: rgb(245, 235, 220);
    display: flex;    
    border: 3px solid rgb(56, 7, 105);
    margin: 10px;
    border-radius: 10px;
}

.movieInfo{
    position: relative;
    height: 250px;

}

.BookingBtn{
    position: absolute;
    left: 30%;
    top: 210px;
    width: 85px;
    height: 25px;
    background-color: rgb(199, 153, 245);
    font-weight: bold;
    color: rgb(37, 1, 71);
    border: 1px solid rgb(75, 17, 133);
    border-radius: 7px;


}

.disc{
    width: 180px;
    font-size: 12px;
    padding: 10px;
}